{% render 'partials/head.liquid', title: 'Squad page' %}

<h2>Students</h2>
<ul>
 
    {% for person in persons %}
      <a href="https://squadpage-sprint-7.onrender.com/kleur">, <img src=" {{ person.avatar }}" width="200px" height="200px"></a>
     {% endfor %}

</ul>

{% render 'partials/foot.liquid', squads: squads %}